:root {
  --branding-color: #375541;
  --secondary-color: #fff4ea;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--branding-color);
  font-family: var(--heading-font-family);
}
p,
a {
  font-family: var(--default-font-family);
}
img {
  border-radius: 4px;
}

li {
  display: inline;
  margin-left: 25px;
}
footer .contact-box {
  background: var(--secondary-color);
  border-radius: 4px;
  padding: 30px;
}
footer .contact-box p {
  margin-bottom: 0;
}
footer .contact-box h4 {
  font-size: 48px;
}

.navbar ul {
  margin-bottom: 0;
}
.navbar a {
  color: #655560;
  text-decoration: none;
  transition: 2s;
}
.navbar a:hover,
.navbar li.active {
  color: #41d8bf;
}
.hero {
  background-color: var(--secondary-color);
  text-align: center;
  padding: 180px 0;
}
.hero p {
  color: var(--branding-color);
  font-size: 36px;
  font-weight: bold;
}
.hero h1 {
  font-size: 96px;
  font-weight: bold;
}
.hero h2 {
  font-family: var(--default-font-family);
}
.branding-btn,
.link-btn {
  border-radius: 4px;
  text-decoration: none;
  padding: 18px 30px;
}
.branding-btn {
  background-color: var(--branding-color);
  color: white;
}
.link-btn {
  background-color: white;
  border-style: solid;
  border-color: var(--branding-color);
  color: var(--branding-color);
}

.intro-to-my-project {
  text-align: center;
  font-size: 18px;
  margin: 50px;
}

.container h2 {
  font-weight: bold;
  font-size: 64px;
  line-height: 85px;
}
.container p {
  line-height: 30px;
}
.description {
  padding-top: 50px;
}
.content-container {
  padding: 150px 0;
}
.content-container h1 {
  font-size: 64px;
}
.content-container h2 {
  font-size: 18px;
  line-height: 27px;
}
.content-container p {
  line-height: 30px;
}
.my-past {
  font-weight: bolder;
}
.project-name {
  font-family: var(--default-font-family);
  font-weight: bold;
  margin: 10px 0;
}
.selfie {
  margin-top: 50px;
}
.contact-icon {
  color: var(--branding-color);
  font-size: 2em;
  margin: 20px;
}
.logo {
  max-height: 40px;
}
.email {
  color: black;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
}
.inquiry-btn {
  position: relative;
  top: 28px;
}

@media (max-width: 900px) {
  .hero {
    padding: 90px 0;
  }
  .hero p {
    font-size: 28px;
  }
  .hero h1 {
    font-size: 78px;
  }
  .hero h2 {
    font-size: 20px;
  }
  .container {
    text-align: center;
  }
  .container h2 {
    font-size: 48px;
  }
  .link-btn {
    display: block;
    margin: 0 auto;
    width: 50%;
  }
  .content-container {
    padding: 90px 0;
  }
  .content-container h1 {
    font-size: 54px;
  }
  .content-container h2 {
    font-size: 20px;
  }
  .email {
    font-size: 16px;
  }
  footer .contact-box {
    background: var(--secondary-color);
    border-radius: 4px;
    padding: 13px;
  }
  footer .contact-box h4 {
    font-size: 25px;
    text-align: left;
  }
  footer .contact-box p {
    text-align: left;
  }
}
