:root {
  --branding-color: #375541;
  --secondary-color: #fff4ea;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--branding-color);
  font-family: var(--heading-font-family);
}
p,
a {
  font-family: var(--default-font-family);
}
img {
  border-radius: 4px;
}

.hero {
  background-color: var(--secondary-color);
  text-align: center;
  padding: 180px 0;
}
.hero p {
  color: var(--branding-color);
  font-size: 36px;
  font-weight: bold;
}
.hero h1 {
  font-size: 96px;
  font-weight: bold;
}
.hero h2 {
  font-family: var(--default-font-family);
}
.branding-btn,
.link-btn {
  border-radius: 4px;
  text-decoration: none;
  padding: 18px 30px;
}
.branding-btn {
  background-color: var(--branding-color);
  color: white;
}
.link-btn {
  background-color: white;
  border-style: solid;
  border-color: var(--branding-color);
  color: var(--branding-color);
}

.intro-to-my-project {
  text-align: center;
  font-size: 18px;
  margin: 50px;
}

.container h2 {
  font-weight: bold;
  font-size: 64px;
  line-height: 85px;
  margin-bottom: 20px;
}
.container p {
  line-height: 30px;
}
.description {
  padding-top: 50px;
}
.content-container {
  padding: 150px 0;
}
.content-container h1 {
  font-size: 64px;
}
.content-container h2 {
  font-size: 18px;
  line-height: 27px;
}
.content-container p {
  line-height: 30px;
}
.my-past {
  font-weight: bolder;
}
.project-name {
  margin: 5px 0;
}
.weather-app-heading {
  margin-top: 59px;
}
@media (max-width: 900px) {
  .hero {
    padding: 90px 0;
  }
  .hero p {
    font-size: 28px;
  }
  .hero h1 {
    font-size: 78px;
  }
  .hero h2 {
    font-size: 20px;
  }
  .container {
    text-align: center;
  }
  .container h2 {
    font-size: 48px;
  }
  .link-btn {
    display: block;
    margin: 0 auto;
    width: 50%;
  }
  .content-container {
    padding: 90px 0;
  }
  .content-container h1 {
    font-size: 54px;
  }
  .content-container h2 {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .weather-app-heading {
    margin-top: 10px;
  }
}
